* {
    font-family: 'DM Sans', sans-serif;
}

body {
    background-color: white;
}
/* Title */

.page-title {
    display: flex;
    justify-content: center;
    color: black;
    font-weight: bolder;
    font-size: 20pt;
}

h1 {
    text-shadow: -4px -4px 4px rgba(225,225,225,0.2),
                4px 4px 4px rgba(0,0,0,0.1);
}

.content {
    display: flex;
    justify-content: space-around;
}

/* Translator Box */
h2, label {
    font-size: 20pt;
    color: black;
    text-shadow: -1px -1px 1px rgba(225,225,225,0.2),
                1px 1px 1px rgba(0,0,0,0.1);
    font-weight: bold;
}

.translator-container {
    width: 40%;
}

.text-box {
    border: none;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    flex-grow: 1;
    box-shadow: inset -5px -5px 5px rgba(225,225,225,0.3),
               inset 5px 5px 5px rgba(0,0,0,0.1);
}

/*Form*/

.input-text {
    display: flex;
    justify-content: flex-start;
}

input::placeholder, input, select, textarea, #output-text{
    color: black;
    font-size: 10pt;
}

.form-container {
    display: flex;
    flex-direction: column;
}

#submit-button {
    flex-grow: 1;
    margin: 15px;
    width: 100px;
    display: flex;
    height: 45px;
    justify-content: center;
    align-items: center;
}

input:focus {
    outline: none;
}

input, .text-box{
    width: 400px;
    flex-shrink: 1;
    height: 100px;
}

input {
    margin-top: 15px;
    margin: 15px 0;
}

/* Buttons */

.button, .audio-button {
    border: none;
    background-color: white;
    border-radius: 15px;
    box-shadow: -5px -5px 5px rgba(225,225,225,0.4),
                5px 5px 5px rgba(0,0,0,0.2);
    color: black;
}

.button:hover, .audio-button:hover {
    transform: scale(1.1); 
    transition: 0.3s;
    color: white; 
    background-color: black;
    cursor: pointer;
}

/* Audio Controls */

.audio-container {
    margin: 40px;
}

.audio-buttons {
    display: flex;
    justify-content: space-around;
}

.audio-button {
    width: 75px;
    height: 75px;
    margin: 10px;
}

#replay-button {
    background-image: ("images/replay.png");
}

#play-button {
    background-image: ("images/play.png");
}

#mute-button {
    background-image: ("images/mute.png");
}

